* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  list-style: none;
}

/* progress */
.progress-wrappr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.progress-line {
  position: relative;
}
.progress-line .line {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 4px;
  background-color: #ddd;
  z-index: -1;
}
.progress-line .progress {
  background-color: blue;
  height: 100%;
  width: 0;
  transition: background 0.3s ease-in-out;
}

.progress-line .points {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
.point {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: grey;
  border-radius: 50%;
  border: #ddd 3px solid;
  background-color: white;
  transition: border 0.3s ease-in-out;
}
.point.active {
  border-color: blue;
}
.btn-group {
  display: flex;
  gap: 10px;
}
.btn {
  border: none;
  padding: 10px 40px;
  border-radius: 10px;
  background-color: #ddd;
  color: black;
}
.btn.active {
  background-color: blue;
  color: white;
}
